

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
.current-card{
    transform: scale(1.1);
}
@media screen and (min-width: 768px) {
    .datalist{
        overflow-x: scroll;
    }
}