{%extends 'partials/base.html'%}
{% load crispy_forms_tags %}
{%block title%}Purchase{%endblock%}
{%block content%}

<!-- Modal for update form -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header bg-success text-light">
              Purchase Form
            </div>
            <div class="card-body">
              <form action="" method="post">
                {%csrf_token%}
                {%crispy form%}
                <!-- <input class="btn btn-success mt-2 float-end" type="submit" value="Add"> -->
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-light">
                  Purchase Section
                </div>
                <div class="card-body " style="overflow-x: auto;">
                  <h5 class="card-title">Purchase List</h5>
                  {%include 'dashboard/_purchase_table.html'%}
                </div>
              </div>

        </div>
    </div>

</div>

<script type="text/javascript">
  $(function () {
    
    var asyncSuccessMessage = [
      `
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Price</strong> was updated.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      `,
  ].join(); 
  function updatePurchaseModalForm() {
    $(".update-purchase").each(function () {
      $(this).modalForm({
        formURL: $(this).data("form-url"),
        asyncUpdate: true,
            asyncSettings: {
              closeOnSubmit: true,
              successMessage: asyncSuccessMessage,
              dataUrl: "/purchasedata/",
              dataElementId: "#purchase-table",
              dataKey: "table",
              addModalFormFunction: updatePurchaseModalForm
            }
      });
      
    });
  }
  updatePurchaseModalForm();
})

</script>

{%endblock%}

{%block javascript%}
  <script>
    var totalPrice = document.getElementById('id_total_price');
    var quantity = document.getElementById('id_quantity');
    var price = document.getElementById('id_price_per')
    totalPrice.readOnly = true
    totalPrice.value=0
    quantity.addEventListener('input',function(){
      totalPrice.value =Math.round(quantity.value * price.value)
    })
    price.addEventListener('input',function(){
      totalPrice.value =Math.round(quantity.value * price.value)
    })

  </script>
{%endblock%}