{%extends 'partials/base.html'%}
{% load crispy_forms_tags %}
{%block title%}Purchase{%endblock%}
{%block content%}
 <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header bg-success text-light">
              Purchase Form
            </div>
            <div class="card-body">
              <form action="" method="post">
                {%csrf_token%}
                {%crispy form%}
                <!-- <input class="btn btn-success mt-2 float-end" type="submit" value="Add"> -->
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-light">
                  Purchase Section
                </div>
                <div class="card-body " style="overflow-x: auto;">
                  <h5 class="card-title">Purchase List</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for purchase in purchase_list%}
                      <tr>
                        <td>{{purchase.product.name}}</td>
                        <td>{{purchase.supplier_name}}</td>
                        <td>{{purchase.quantity|floatformat}} <a title="Edit Quantity" href="{%url 'dashboard-purchase-update' purchase.id%}" class="btn text-success p-0 float-end"><i class="bi bi-pencil"></i></a></td>
                        <td>{{purchase.price_per|floatformat:'2g'}}</td>
                        <td>{{purchase.total_price|floatformat:'2g'}}</td>
                        <td>{{purchase.date|date:'M d Y '}}</td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>

        </div>
    </div>

</div>



<!--End Table-->
{%endblock%}

{%block javascript%}
  <script>
    var totalPrice = document.getElementById('id_total_price');
    var quantity = document.getElementById('id_quantity');
    var price = document.getElementById('id_price_per')
    totalPrice.readOnly = true
    totalPrice.value=0
    quantity.addEventListener('input',function(){
      totalPrice.value =Math.round(quantity.value * price.value)
    })
    price.addEventListener('input',function(){
      totalPrice.value =Math.round(quantity.value * price.value)
    })

  </script>
{%endblock%}