{%extends 'partials/base.html'%}
{% load crispy_forms_tags %}
{%block title%}Sales{%endblock%}
{%block content%}
{%include 'partials/topnavbar_work.html'%}
 <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
          {%for message in messages%}
            {%if message%}
            <div class="alert alert-danger">
                {{message}}
            </div>
            {%endif%}
            {%endfor%}
          <div class="card">
            <div class="card-header bg-success text-light">
              Update Quantity
            </div>
            <div class="card-body">
              <form action="" method="post">
                {%csrf_token%}
                {%crispy form%}
                <!-- <input class="btn btn-success mt-2 float-end" type="submit" value="Update"> -->
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-light">
                  Purchase Change Quantity
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{purchase.product.name}}</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{purchase.product.name}}</td>
                        <td>{{purchase.supplier_name}}</td>
                        <td>{{purchase.price_per}}</td>
                        <td>{{purchase.total_price}}</td>
                        <td>{{purchase.date|date:'M d Y '}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>

</div>



<!--End Table-->
{%endblock%}
{%block javascript%}
<script>
  var totalPrice = document.getElementById('id_total_price');
  var quantity = document.getElementById('id_quantity');
  var price = document.getElementById('id_price_per')
  totalPrice.readOnly = true
  quantity.addEventListener('input',function(){
    totalPrice.value =Math.round(quantity.value * price.value)
  })
  price.addEventListener('input',function(){
    totalPrice.value =Math.round(quantity.value * price.value)
  })

</script>
{%endblock%}