{%extends 'partials/base.html'%}
{% load crispy_forms_tags %}
{%block title%}Sales{%endblock%}
{%block content%}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



 <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
          {%for message in messages%}
            {%if message%}
            <div class="alert alert-danger">
                {{message}}
            </div>
            {%endif%}
            {%endfor%}
          <div class="card">
            <div class="card-header bg-success text-light">
              Sales Form
            </div>
            <div class="card-body">
              <form action="" method="post">
                {%csrf_token%}
                {%crispy form%}
                <!-- <input class="btn btn-success mt-2 float-end" type="submit" value="Add"> -->
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-light">
                  Sales Section

                  
                </div>
                <div class="card-body" style="overflow-x: auto;">
                  <h5 class="card-title float-start">Sales List</h5>
                  <form action="" method="get" class="d-flex float-end">
                    <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="{{search_value}}" autocomplete="off">
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                  </form>
                  {%include 'dashboard/_sales_table.html'%}
                </div>
              </div>
        </div>
    </div>

</div>



<script type="text/javascript">
  $(document).ready(function() {
  
  
  });
  $(function () {
    
    var asyncSuccessMessage = [
    "<div ",
    "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
    "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
    "Success: Book was updated.",
    "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
    "<span aria-hidden='true'>&times;</span>",
    "</button>",
    "</div>",
    "<script>",
    "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
    "<\/script>"
  ].join();
function updateSalesModalForm() {
  $(".update-sales").each(function () {
    $(this).modalForm({
      formURL: $(this).data("form-url"),
      asyncUpdate: true,
          asyncSettings: {
            closeOnSubmit: true,
            successMessage: asyncSuccessMessage,
            dataUrl: "/salesdata/",
            dataElementId: "#sales-table",
            dataKey: "table",
            addModalFormFunction: updateSalesModalForm
          }
    });
    
  });
}
updateSalesModalForm();
  })
</script>
<!--End Table-->
{%endblock%}
{%block javascript%}
  <script>
    var totalPrice = document.getElementById('id_total_price');
    var quantity = document.getElementById('id_quantity');
    var price = document.getElementById('id_price_per')
    totalPrice.readOnly = true
    totalPrice.value=0
    quantity.addEventListener('input',function(){
      totalPrice.value =Math.round(quantity.value * price.value)
    })
    price.addEventListener('input',function(){
      totalPrice.value =Math.round(quantity.value * price.value)
    })

  </script>
{%endblock%}