{%extends 'partials/base.html'%}
{% load crispy_forms_tags %}
{%block title%}Sales{%endblock%}
{%block content%}

<!-- Modal for update form -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



 <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
          {%for message in messages%}
            {%if message%}
            <div class="alert alert-danger">
                {{message}}
            </div>
            {%endif%}
            {%endfor%}
          <div class="card">
            <div class="card-header bg-success text-light">
              Sales Form
            </div>
            <div class="card-body">
              <form action="" method="post">
                {%csrf_token%}

                <div class="mb-1">
                  <label for="customer" class="form-label">Customer Name</label>
                  <input name="customer_name" type="text" class="form-control basicAutoComplete" id="customer" autocomplete="on" >
                </div>
                {%crispy form%}
                <!-- <input class="btn btn-success mt-2 float-end" type="submit" value="Add"> -->
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-light">
                  Sales Section

                  
                </div>
                <div class="card-body" style="overflow-x: auto;">
                  <h5 class="card-title float-start">Sales List</h5>
                  <form action="" method="get" class="d-flex float-end">
                    <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="{{search_value}}" autocomplete="off">
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                  </form>
                  {%include 'dashboard/_sales_table.html'%}

                  <table id="customer-table" class="table">
                    <thead>
                      <tr>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Total Products</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for customer in customers%}
                      <tr>
                        <td>{{customer.name}}<button type="button" class="read-customer bs-modal btn btn-sm float-end text-success" data-form-url="{% url 'read_customer' customer.id %}">
                          <i class="bi bi-eye-fill"></i>
                        </button></td>
                        <td>{{customer.sale.all.count}}</td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>

</div>



<script type="text/javascript">
  $(function () {

    // Read book buttons
    $(".read-customer").each(function () {
      $(this).modalForm({formURL: $(this).data("form-url")});
    });
    
    var asyncSuccessMessage = [
      `
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Price</strong> was updated.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      `,
  ].join(); 
function updateSalesModalForm() {
  $(".update-sales").each(function () {
    $(this).modalForm({
      formURL: $(this).data("form-url"),
      asyncUpdate: true,
          asyncSettings: {
            closeOnSubmit: true,
            successMessage: asyncSuccessMessage,
            dataUrl: "/salesdata/",
            dataElementId: "#sales-table",
            dataKey: "table",
            addModalFormFunction: updateSalesModalForm
          }
    });
    
  });
}
updateSalesModalForm();
  })
</script>
<!--End Table-->
{%endblock%}
{%block javascript%}
  <script>
    var totalPrice = document.getElementById('id_total_price');
    var quantity = document.getElementById('id_quantity');
    var price = document.getElementById('id_price_per')
    totalPrice.readOnly = true
    totalPrice.value=0
    quantity.addEventListener('input',function(){
      totalPrice.value =Math.round(quantity.value * price.value)
    })
    price.addEventListener('input',function(){
      totalPrice.value =Math.round(quantity.value * price.value)
    })

  </script>
  <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    /*$('.basicAutoComplete').autoComplete(
        {minLength: 1}
    );*/
    $( function() {
      var availableTags = [
          {% for customer in customers %}
              "{{customer.name}}",
          {% endfor %}
      ];
      console.log(availableTags)
      $( "#customer" ).autocomplete({
        source: availableTags
      });
    } );
</script>
{%endblock%}