{%extends 'partials/base.html'%}
{% load crispy_forms_tags %}
{%block title%}Sales{%endblock%}
{%block content%}
 <!--Table-->
 <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
          {%for message in messages%}
            {%if message%}
            <div class="alert alert-danger">
                {{message}}
            </div>
            {%endif%}
            {%endfor%}
          <div class="card">
            <div class="card-header bg-success text-light">
              Sales Form
            </div>
            <div class="card-body">
              <form action="" method="post">
                {%csrf_token%}
                {%crispy form%}
                <!-- <input class="btn btn-success mt-2 float-end" type="submit" value="Add"> -->
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-light">
                  Sales Section

                  
                </div>
                <div class="card-body">
                  <h5 class="card-title float-start">Sales List</h5>
                  <form action="" method="get" class="d-flex float-end">
                    <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="{{search_value}}" autocomplete="off">
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                  </form>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for sales in sales_list%}
                      <tr>
                        <td>{{sales.purchase.product.name}}</td>
                        <td>{{sales.customer_name}}</td>
                        <td>{{sales.quantity|floatformat:'-2'}} <a title="Edit Quantity" href="{%url 'dashboard-sales-update' sales.id%}" class="btn text-success float-end p-0"><i class="bi bi-pencil"></i></a></td>
                        <td>{{sales.price_per|floatformat:'2g'}}</td>
                        <td>{{sales.total_price|floatformat:'2g'}}</td>
                        <td>{{sales.date|date:'M d Y '}}</td>
                      </tr>
                      {%endfor%}
                    </tbody>
                    <tfoot>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>{{total_sold_price|floatformat:'2g'}}</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
        </div>
    </div>

</div>



<!--End Table-->
{%endblock%}
{%block javascript%}
  <script>
    var totalPrice = document.getElementById('id_total_price');
    var quantity = document.getElementById('id_quantity');
    var price = document.getElementById('id_price_per')
    totalPrice.readOnly = true
    totalPrice.value=0
    quantity.addEventListener('input',function(){
      totalPrice.value =Math.round(quantity.value * price.value)
    })
    price.addEventListener('input',function(){
      totalPrice.value =Math.round(quantity.value * price.value)
    })

  </script>
{%endblock%}