{%extends 'partials/base.html'%}
{% load crispy_forms_tags %}
{%block title%}Reset Password{%endblock%}
{%block content%}
<div class="container mt-5">
    <div class="row justify-content-center">
        
        <div class="col-sm-6 bg-light p-4">
            <h3>Enter Your New Password</h3>
            <form action="" method="post">
                {%csrf_token%}
                {{form|crispy}}
                <input class="btn btn-primary mt-4 float-end " type="submit" value="Reset">
            </form>
        </div>
    </div>
</div>
{%endblock%}